<div class= "jumbotron">

<h1>Welcome to Scrabble Score</h1>
  <form action="/success">
    <label for="scrabble_word">Enter your Scrabble word, get the score:</label>
    <input placeholder="Enter word" id="scrabble_word" name="scrabble_word" type="text">
    <button type="submit" class="btn btn-success">Score It!</button>
  </form>
</div>
<img src= "img/scrabble-tiles.jpg" hieght="1500" width ="996" />
