<!DOCTYPE html>
<html>
  <head>
    <title>Scrabble Score</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class= "navbar navbar-default navbar-fixed-top">
          <div class="container">
      <div class="navbar navbar">
        <h2 font-family: 'Droid Serif'></h2>

       <a clsss="navbar-header" href="/">Scrabble Score</a>
        <a class="btn btn-primary btn-md" href="/" role="button">HOME</a>
        <a class="btn btn-primary btn-md" href="/articles/new" role="button">ADD NEW ARTICLE</a>
        <a class="btn btn-primary btn-md" href="/tags/new" role="button">ADD NEW TAG</a>
        <a class="btn btn-primary btn-md" href="/add_user" role="button">ADD NEW USER</a>
        <a class="btn btn-primary btn-md" href="/admin" role="button">ADMIN ONLY</a>
      </div>
      <!-- <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href='#'>Scrabble Score</a>
          </div>
        </div>
      </div> -->
    <div class ="container">
      <%= yield %>
    </div>
  </body>
</html>
